@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  position: relative;
  width: 100%;
}

/*#region text*/
.logo {
  @apply text-white text-6xl 
  font-bold
  py-2 px-10;
}

.product-title {
  @apply text-gray-900 text-3xl 
  font-bold;
}

.product-description {
  @apply text-gray-900 text-lg 
  pt-4;
}

.product-price {
  @apply text-green-500 text-5xl 
  font-bold;
}

.title-group {
  @apply text-green-500 text-2xl 
  font-bold 
  mb-4 ml-10;
}

.title-card {
  @apply text-gray-900 text-xl 
  font-bold;
}

.description-card {
  @apply text-gray-900 text-sm
  pt-2 pb-6;
}

.price-card {
  @apply text-green-500 text-2xl 
  font-bold;
}

.name-card {
  @apply text-gray-900 text-sm
  font-bold;
}

.date-card {
  @apply text-gray-400 text-xs;
}

.name-section-footer {
  @apply text-gray-900 text-base
  font-bold;
}
/*#endregion*/

/*#region buttons*/
.btn {
  @apply inline-block 
  h-auto w-auto
  p-2
  text-center
  align-middle;
}

.btn-header {
  @apply text-gray-900 text-lg
  mx-2;
}
.btn-header:hover {
  @apply text-white
  font-semibold;
}

.btn-search {
  @apply text-gray-400;
}
.btn-search:hover {
  @apply text-gray-600
  font-semibold;
}

.btn-add {
  @apply text-white 
  bg-green-500
  px-2
  border-b-2 border-green-900
  rounded-lg;
}
.btn-add:hover {
  @apply bg-green-400
  border-green-800;
}

.btn-remove {
  @apply text-white 
  bg-red-600
  border-2 border-red-900
  rounded-lg;
}
.btn-remove:hover {
  @apply text-gray-200
  bg-red-700
  border-red-900;
}

.btn-login {
  @apply text-gray-900 
  bg-gray-50 
  px-4 mx-2
  border-b-2 border-gray-900
  rounded-lg;
}
.btn-login:hover {
  @apply bg-gray-200;
}

.btn-register {
  @apply text-white 
  bg-gray-900 
  px-4 mx-2
  border-b-2 border-gray-900
  rounded-lg;
}
.btn-register:hover {
  @apply bg-gray-700
  border-gray-700;
}

.btn-favorite {
  @apply text-green-500;
}
.btn-favorite:hover {
  border-radius: 50%;
  @apply text-white
  bg-green-300;
}

.btn-favorited {
  border-radius: 50%;
  @apply text-white 
  bg-green-500;
}
.btn-favorited:hover {
  border-radius: 50%;
  @apply text-gray-200 
  bg-green-700;
}
/*#endregion */

/*#region links*/
.link {
  @apply text-gray-900 text-base
  underline;
}
.link:hover {
  @apply text-blue-700;
}
/*#endregion*/

/*#region components*/
.header {
  @apply inset-x-0 top-0
  bg-green-500 
  px-7 py-4 
  flex 
  justify-between
  items-center;
}

.navigation {
  @apply bg-green-100 
  flex 
  justify-center 
  items-center;
}

.searchbar {
  @apply relative 
  flex 
  items-center 
  text-gray-400;
}
.searchbar:focus {
  @apply text-gray-500;
}

.input-field {
  @apply placeholder-gray-400 
  ring-1 ring-green-600 
  px-2 py-1 pl-10 
  rounded-xl 
  border-none;
}
.input-field:focus {
  @apply placeholder-gray-500 
  ring-2 ring-green-800
  outline-none;
}

.product-card {
  @apply bg-white 
  p-3 
  border border-green-500 rounded;
}

.product-group {
  @apply grid grid-cols-6
  gap-5 
  mx-10;
}

.review-group {
  @apply grid grid-cols-3 
  gap-8 
  mx-10;
}

.product-group-cart {
  @apply grid grid-flow-row 
  space-y-6 
  mx-10;
}

.footer {
  @apply inset-x-0 bottom-0
  bg-green-100 
  min-h-60 
  mt-6 py-6 px-10
  border-t border-green-500
  grid grid-cols-5 
  gap-5;
}
/*#endregion*/

.user-icon {
  border-radius: 50%;
  @apply bg-white
  h-10
  border border-black
  cursor-pointer;
}

.product-img {
  max-width: 400px;
  height: auto;
  display: block;
}
