@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  position: relative;
  width: 100%;
}

/*#region buttons*/
.btn {
  @apply inline-block 
  p-2
  text-center;
}

.btn-default {
  @apply text-gray-900
  hover:text-white;
}

.btn-secundary {
  @apply text-gray-400
  hover:text-gray-600
  hover:font-semibold;
}

.btn-add {
  @apply text-white 
  bg-green-500
  px-4
  rounded-lg;
}

.btn-danger {
  @apply text-white 
  bg-red-600
  border-2
  border-red-900
  rounded-lg
  my-4;
}

.btn-login {
  @apply text-gray-900 
  bg-gray-50 
  px-4
  rounded-lg;
}

.btn-register {
  @apply text-white 
  bg-gray-900 
  px-4
  rounded-lg;
}
/*#endregion */

/*#region components*/
.header {
  @apply bg-green-500 
  px-7 
  py-4 
  flex 
  justify-between;
}

.navigation {
  @apply bg-green-100 
  flex 
  justify-center 
  items-center;
}

.searchbar {
  @apply relative 
  flex 
  items-center 
  text-gray-400 
  focus-within:text-gray-500;
}
/*#endregion*/

.icon {
  border-radius: 50%;
}
